.searchandfilter {}
.searchandfilter h4 {
  margin: 0;
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
}
.searchandfilter ul,
.searchandfilter ul li,
.searchandfilter ul ul li {
  margin: 0;
  padding: 0;
}